.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.list {
  margin-right: 30px;
  color: #64748b;
}
.header-logo {
  height: 50px;
}
.logoutButton {
  background-color: #0b69ff;
  color: white;
  border-width: 0px;
  cursor: pointer;
  height: 30px;
  margin-top: 8px;
}
.header-elements {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.header-logo {
  margin-left: 20px;
}
